
<style>
.leftBarNav {
     width: 170px;
    float: left;
    /* margin: 114px 40px 0px 0px; */
    /* font-family: Musinsa, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif; */
    font-size: 14px;
    padding: 60px 10px 10px 30px;
    overflow-y: scroll;
    height: 630px;
    padding-top: 0;
    position: fixed;
    /* z-index: 201; */
    /* top: 0; */
    /* left: 0; */
    /* width: 256px; */
    height: 100%;
    padding: 97px 0 0 20px;
    box-sizing: border-box;
    vertical-align: top;
    background: #2A3652;
}
  .leftBarNav::-webkit-scrollbar {
    width: 3px;
  }
  .leftBarNav::-webkit-scrollbar-thumb {
    background-color: #2f3542;
  }
  .leftBarNav::-webkit-scrollbar-track {
    background-color: lightgrey;
  }

.leftBarNav > h2 {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0px, 0px, 0px, 0px);
}
.leftBarNav > span {
    font-size: 16px;
    line-height: 20px;
    color: rgb(20, 170, 255);
}

.leftBarNav.on ul {
	
}

.leftBarMenu {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.leftBarMenu > h3 {
    padding: 13px 0px 2px;
    font-size: 24px;
    font-weight: normal;
    line-height: 40px;
}

.leftBarMenu > div {
	margin-top:10px;
}

.leftBarMenu >  div > leftBarListArray{
    display: flex;
    margin-top: 2px;
    font-size: 16px;
    line-height: 40px;
    color: rgb(255, 255, 255) !important;
}

.leftBarMenu > div > ul {
	padding-left:10px; 
}

.leftBarListArray {
	color:#fff;
}

.leftBarListArray div {
	display:flex;
	}
	
.leftBarListShow{
	cursor:pointer;
}	
	
.leftBarListShow ul {
	display:none;
}

.leftBarListShow ul li {
	color:#bbbfc9;
}

.leftBarListShow.on ul{
	display: block;
}

.leftBarListShow.on .rotate{
	transform:rotate(180deg);
}
	
</style>

<body>
<nav class="leftBarNav">
<h2>Mypage Navigation Menus</h2>
<span></span>
<div class="leftBarMenu">
	<h3>관리메뉴</h3>
	
<div class="leftBarListShow">
<div class="leftBarListArray">
<i class="fa-solid fa-shirt"></i>
		<span class="leftBarList" ><a th:href="@{/user/getUserList}" style="color: white;">회원관리</a></span>
	</div>
</div>
	
<div class="leftBarListShow">
	<div class="leftBarListArray">
	<i class="fa-solid fa-cart-shopping"></i>
		<span class="leftBarList">중고거래관리</span>
		<i class="fa-solid fa-angle-down"></i>
	</div>
	<ul>
		<li>입력해주세요</li>
		<li>입력해주세요</li>
		<li>입력해주세요</li>
		<li>입력해주세요</li>
		<li>입력해주세요</li>
	</ul>
	
</div>
<div class="leftBarListShow">
	<div class="leftBarListArray">
	<i class="fa-solid fa-cart-arrow-down"></i>
		<span class="leftBarList">보관물품관리</span>
		<i class="fa-solid fa-angle-down"></i>
	</div>
	<ul>
		<li>입력해주세요</li>
		<li>입력해주세요</li>
		<li>입력해주세요</li>
		<li>입력해주세요</li>
		<li>입력해주세요</li>
	</ul>
	
</div>
<div class="leftBarListShow">
	<div class="leftBarListArray">
	<i class="fa-solid fa-cart-flatbed"></i>
		<span class="leftBarList">대여물품관리</span>
		<i class="fa-solid fa-angle-down"></i>
	</div>
	<ul>
		<li>대여물품관리리스트</li>
	</ul>
</div>
<div class="leftBarListShow">
	<div class="leftBarListArray">
	<i class="fa-solid fa-screwdriver-wrench"></i>
		<span class="leftBarList">고객센터</span>
		<i class="fa-solid fa-angle-down rotate"></i>
	</div>
		
	
	<ul>
		<li>입력해주세요</li>
		<li>입력해주세요</li>
		<li>입력해주세요</li>
		<li>입력해주세요</li>
		<li>입력해주세요</li>
	</ul>
	
</div>
<div>

</div>
</div>
</nav>
</body>
<script src="https://kit.fontawesome.com/cbaaada23a.js" crossorigin="anonymous"></script>
	<script src="/js/jquery_min.js"></script>
	<script>
		$(function(){
			
			const leftBarNav = $('.leftBarList');
			const leftBarListArray = $('.leftBarListArray');
			const leftBarIcon = $('.leftBarListArray i');
			const leftBarListShow = $('.leftBarListShow');
			
			leftBarListArray.on("click",function(){
				$(this).parent().toggleClass('on');
			})
			
			
		})
	</script>