
<style>
.leftBarNav {
    position: fixed;
    width: 195px;
    float: left;
    margin: 68px 2px 0px 1px;
    /* font-family: Musinsa, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif; */
    font-size: 14px;
    padding: 136px 0px 0px 45px;
    height: 407px;
    height: 100vh;
    padding-top: 0;
    background-color: #f1f1f1;
}
  .leftBarNav::-webkit-scrollbar {
    width: 3px;
  }
  .leftBarNav::-webkit-scrollbar-thumb {
    background-color: #2f3542;
  }
  .leftBarNav::-webkit-scrollbar-track {
    background-color: lightgrey;
  }

.leftBarNav > h2 {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0px, 0px, 0px, 0px);
}
.leftBarNav > span {
    font-size: 16px;
    line-height: 20px;
    color: rgb(20, 170, 255);
}

.leftBarNav.on ul {
	
}

.leftBarMenu {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.leftBarMenu > h3 {
    padding: 13px 0px 2px;
    font-size: 20px;
    font-weight: normal;
    line-height: 40px;
}

.leftBarMenu > div {
	margin-top:8px;
}

.leftBarMenu >  div > leftBarListArray{
    display: flex;
    margin-top: 2px;
    font-size: 16px;
    line-height: 40px;
    color: rgb(110, 110, 110) !important;
}

.leftBarMenu > div > ul {
	padding-left:10px; 
}

.leftBarListArray div {
	display:flex;
	}
	
.leftBarListShow{
	cursor:pointer;
}	
	
.leftBarListShow ul {
	display:none;
}
	
.leftBarListShow.on ul{
	display: block;
}

.leftBarListShow.on i{
	transform:rotate(180deg);
}
	
</style>

<body>
<nav class="leftBarNav">
<h2>Mypage Navigation Menus</h2>
<span></span>
<div class="leftBarMenu">
	<h3>나의 쇼핑 활동</h3>
	
<div class="leftBarListShow">
<div class="leftBarListArray">
		<span class="leftBarList">
		  <span stlye="display:none;"  th:if="${session.user!= null}">
			<a th:href="@{/user/getUser(userId= ${session.user.userId})}">내 정보 수정</a>
			</span>
		</span>
	</div>
</div>

<div class="leftBarListShow">
<div class="leftBarListArray">
		<span class="leftBarList">
			<a th:href="@{/old/listOld}">중고물품리스트</a>
		</span>
	</div>
</div>
	

<div class="leftBarListShow">
	<div class="leftBarListArray">
		<span class="leftBarList">
			<a th:href="@{/rental/listRentalProfit}">대여수익확인</a>
		</span>
	</div>
</div>
<div class="leftBarListShow">
	<div class="leftBarListArray">
		<span class="leftBarList">
			<a th:href="@{/rental/addRental}">대여주문하기</a>
		</span>
	</div>
</div>
<div class="leftBarListShow">
	<div class="leftBarListArray">
		<span class="leftBarList">
			<a th:href="@{/rental/getRental}">결제정보</a>
		</span>
	</div>
</div>
<div class="leftBarListShow">
	<div class="leftBarListArray">
		<span class="leftBarList">
			<a th:href="@{/rental/getRental}">결제완료화면</a>
		</span>
	</div>
</div>
<div class="leftBarListShow">
	<div class="leftBarListArray">
		<span class="leftBarList">
			<a th:href="@{/testWishList}">장바구니리스트</a>
		</span>
	</div>
</div>
<div class="leftBarListShow">
	<div class="leftBarListArray">
		<span class="leftBarList">
			<a th:href="@{/board/listFAQ}">FAQ</a>
		</span>
	</div>
</div>
<div class="leftBarListShow">
	<div class="leftBarListArray">
		<span class="leftBarList">
			<a th:href="@{/board/listAnnounce}">공지사항</a>
		</span>
	</div>
</div>
<div class="leftBarListShow">
	<div class="leftBarListArray">
		<span class="leftBarList">
			<a th:href="@{/firebase/message}">푸시메시지테스트</a>
		</span>
	</div>
</div>
</div>

<div>

</div>
</nav>
</body>
	<script src="/js/jquery_min.js"></script>
	<script>
		$(function(){
			
			const leftBarNav = $('.leftBarList');
			const leftBarListArray = $('.leftBarListArray');
			const leftBarIcon = $('.leftBarListArray i');
			const leftBarListShow = $('.leftBarListShow');
			
			leftBarListArray.on("click",function(){
				$(this).parent().toggleClass('on');
			})
			
			
		})
	</script>