<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  
	<!-- 참조 : http://getbootstrap.com/css/   참조 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
</head>
<style>
.table{
	margin-bottom: 80px !important;
}
.page-header{
margin: 40px 0 0px !important;
border-bottom:3px solid #ddd !important;
}

	.tableBody td {
		width:33%;
 		vertical-align: middle !important;
	}
	
	.tableBody td > div {
		display:flex;
	}
	
	.tableBody td img{
		text-align:left;
		width:100px;
	}
	
	.tableBody td span{
		display:flex;
		align-items:center;
		padding:10px;
	}
	
	.borderTopNone{
		border-top:none !important;
	}
	.borderRight{
		border-right:1px solid #ddd;
	}
	.textCenter{
		text-align:center;
	}
	.borderBottom{
		border-bottom:1px solid #ddd;
	}
	.prod-image__detail{
		width:200px;
	}
</style>
<body>

<!-- 로딩시 뜨는 아이콘 -->
	<!-- <div id="preloader">
		<div id="status">
			<img src="/images/content/spinnerfbfbfb.gif" id="preloader_image" alt="loader">
		</div>
	</div>
 -->

<!-- 툴바 include -->
<div th:replace="/main/toolbar.html"></div>
<div th:replace="/main/leftbar.html"></div> 
<!-- 
<div th:replace="/main/toolbarForAdmin.html"></div>
<div th:replace="/main/leftbarForAdmin.html"></div> -->

<!--  화면구성 div Start /////////////////////////////////////-->
<div class="container list" style="padding-right:150px;">
	<div class="indiv"><!-- Start indiv -->

<div style="height:27px;">
<div style="float:left;"></div>
<div style="float:right;"><a href="../goods/goods_view.php?goodsno=30&amp;category=008">이미지</a></div>
<div style="clear:both"></div>
</div>

<!-- 상품 이미지 -->
<div style="margin:0px auto 0px auto">
<div style="width:49%;float:left;text-align:center;">
<div style="padding-bottom:10"><span onclick="popup('goods_popup_large.php?goodsno=57',800,600)" style="cursor:pointer"><!--디테일뷰수정-->
<img class="prod-image__detail" src="//thumbnail10.coupangcdn.com/thumbnails/remote/492x492ex/image/retail/images/5192274088806-cf8974dd-63b8-4054-ae38-bf7a37ec1baa.jpg" onload="_logTTI(this)" data-tti="true" data-preload-img-src="//thumbnail10.coupangcdn.com/thumbnails/remote/230x230ex/image/retail/images/5192274088806-cf8974dd-63b8-4054-ae38-bf7a37ec1baa.jpg" onerror="this.src='//t1a.coupangcdn.com/thumbnails/remote/490x490/image/coupang/common/no_img_1000_1000.png';" alt="detail image" data-load-time="930.8000000715256" data-load-time-start="616.3000000715256" data-load-time-end="813.1000000238419" data-zoom-image-url="//image10.coupangcdn.com/image/retail/images/5192274088806-cf8974dd-63b8-4054-ae38-bf7a37ec1baa.jpg">
<!--디테일뷰수정--></span></div>
<div style="padding-bottom:10">
이미지
</div>
<div align="center">
이미지
</div>
</div>

<!-- 상품 스펙 리스트 -->
<div id="goods_spec" style="width:49%;float:left;">
<!--디테일뷰수정--><!--디테일뷰수정-->
<form name="frmView" method="post" onsubmit="return false">
<input type="hidden" name="mode" value="addItem">
<input type="hidden" name="goodsno" value="57">
<input type="hidden" name="goodsCoupon" value="0">
<div style="padding:10px 0 10px 5px" align="left">
<b style="font:bold 12pt 돋움;">
[코베아] AL2폴딩 테이블 (KN8FN0102)
</b>
</div>
<div style="padding:0 0 10px 5px;font:11px dotum;letter-spacing:-1px;color:#666666">4인가족이 이용가능한 식탁</div>
<table border="0" cellpadding="0" cellspacing="0" class="top">
	<tbody><tr><td height="2"></td></tr>
	<!--tr><td colspan="2"><span style="padding-bottom:5px; padding-left:14px; color:#EF1C21">절찬리 판매중!!</span></td></tr-->

	<tr>
		<th>대여가격 :</th>
		<td>
		<b><span id="price">12,000</span>원</b>
		</td>
	</tr>
	<tr><th>적립금 :</th><td><span id="reserve">0</span>원</td></tr>
</tbody></table>
<table border="0" cellpadding="0" cellspacing="0">
	<tbody><tr><td height="5"></td></tr>
<tr height=""><th>상품상태 :</th><td>신상품</td></tr><tr><th>제조사 :</th><td>코베아(한국)</td></tr><tr><th>브랜드 :</th><td>코베아(Kovea) <a href="/shop/goods/goods_brand.php?&amp;brand=3">[브랜드바로가기]</a></td></tr><tr><th>정 원 :</th><td>4인용</td></tr><tr><th>수령방법 :</th><td>매장방문수령</td></tr><tr><th>설치 난이도 :</th><td>하</td></tr><tr><th>재 고 :</th><td>전화문의</td></tr><tr><th>기준 대여일 :</th><td><b>1박 2일 / 1박 추가시 30% 증가</b></td></tr>
	<input type="hidden" name="ea" step="1" min="1" max="0" value="1">

<tr><th>제품상태 :</th><td>
이미지</td></tr></tbody></table>


<!-- 추가 옵션 입력형 -->

<!-- 필수 옵션 일체형 -->
<table border="0" cellpadding="0" cellspacing="0" class="top">
	<tbody><tr><td height="6"></td></tr>
	<tr><th valign="top">대여일 :</th>
	<td>
	<div>
	<select name="opt[]" onchange="chkOption(this);chkOptimg();nsGodo_MultiOption.set();" required="" fld_esssential="" msgr="대여일 선택을 해주세요">
	<option value="">== 옵션선택 ==
	</option><option value="매장방문수령 및 반납(1박2일)">매장방문수령 및 반납(1박2일) 	</option><option value="매장방문수령 및 반납(2박3일)">매장방문수령 및 반납(2박3일) (15,600원)	</option><option value="매장방문수령 및 반납(3박4일)">매장방문수령 및 반납(3박4일) (19,200원)	</option><option value="매장방문수령 및 반납(4박5일)">매장방문수령 및 반납(4박5일) (22,800원)	</option><option value="매장방문수령 및 반납(5박6일)">매장방문수령 및 반납(5박6일) (25,200원)	</option></select></div>
	</td>
	</tr>
	<tr><td height="6"></td></tr>
</tbody></table>

<!-- 필수 옵션 분리형 -->

<!-- 추가 옵션 -->
<table border="0" cellpadding="0" cellspacing="0" class="sub">
</table>



<style type="text/css">
.goods-multi-option {display:none;}
.goods-multi-option table {border:1px solid #D3D3D3;}
.goods-multi-option table td {border-bottom:1px solid #D3D3D3;padding:10px;}
</style>
<div id="el-multi-option-display" class="goods-multi-option">
	<table border="0" cellpadding="0" cellspacing="0">
	<colgroup><col width=""><col width="50"><col width="80">
	</colgroup></table>

	<div style="font-size:12px;text-align:right;padding:10px 20px 10px 0;border-bottom:1px solid #D3D3D3;margin-bottom:5px;">
		</span>
	</div>
</div>
<!-- / -->



<!-- 각종 버튼 -->
<div style="width:330px;">
	<a href="javascript:act('../order/order')"><button>테스트버튼</button></a>
	<a href="javascript:cartAdd(frmView,'Direct')"><button>테스트버튼</button></a>
	<a href="javascript:act('../mypage/mypage_wishlist')"><button>테스트버튼</button></a>
<a href="/shop/goods/goods_list.php?&amp;category=008"><button>테스트버튼</button></a>
</div>
<div></div>
<div></div>
<div></div>
<div></div>

</form>
</div>
</div><p>

<table style="clear:both" border="0" cellpadding="0" cellspacing="0">
<tbody><tr>
	<td>


	<table border="0" cellpadding="0" cellspacing="0">
	<tbody><tr>
		<td style="background: URL(/shop/data/skin/campingyo/img/common/bar_detail_01.gif) no-repeat;" nowrap="" width="120" height="24"></td>
		<td style="background: URL(/shop/data/skin/campingyo/img/common/bar_detail_01_bg.gif) repeat-x;" width="90%"></td>
		<td style="background: URL(/shop/data/skin/campingyo/img/common/bar_detail_01_right.gif) no-repeat;" nowrap="" width="10" height="24"></td>
	</tr>
	</tbody></table>




	<!-- 상세 설명 -->
	<div id="contents" style="width:100%;padding:10 10 10 10;overflow:hidden;"><table width="100%">
	<tbody><tr><td>
	<p><font size="3">•&nbsp;캠핑용 4인용 식탁 테이블</font></p><font size="3">
<p><br>•&nbsp;로우, 미들, 하이 3가지 프레임으로 설치시 내하중 향상과 비틀림 방지</p></font>
<p><font size="3"></font>&nbsp;</p>
<p><font size="3">•&nbsp;2개 상판을 접이식으로부피를 최소화하여 수납할 수 있습니다</font></p>
<p><font size="3"></font>&nbsp;</p>
<p><font size="3">•&nbsp;내하중 : 30kg</font></p>
<p><font size="3"></font>&nbsp;</p>
<p><font size="3">•&nbsp;뜨거운 냄비등을 바로 올리면 상판이 손상됩니다</font><font size="3"></font></p>
<p>&nbsp;</p>
<p><font size="3">제&nbsp;&nbsp; 원 : 120*60*70, 55*30*10(수납)</font></p>
<p><font size="3">중&nbsp;&nbsp; 량 : 5.1kg 이상&nbsp;</font></p>
<p><font size="3">구성품 :&nbsp;본체, 수납가방</font></p>
<p><font size="3"></font>&nbsp;</p>
<p></p></td></tr></tbody></table>
	</div>

	

	<div id="el-godo-tooltip-related" style="z-index:1000;display:none;position:absolute;top:0;left:0;width:150px;padding:10px; -moz-opacity:.70; filter:alpha(opacity=70); opacity:.70;line-height:140%;" class="godo-tooltip-related">
	</div>

	</td>
</tr>

</tbody></table>

</p></div>
</div>
<!--  화면구성 div End /////////////////////////////////////-->

<div id="contents-wrapper">
<table border="0" cellpadding="0" cellspacing="0">
	<tbody><tr>
		<td style="background: URL(/shop/data/skin/campingyo/img/common/bar_detail_04.gif) no-repeat;" nowrap="" width="163" height="24"></td>
		<td style="background: URL(/shop/data/skin/campingyo/img/common/bar_detail_04_bg.gif) repeat-x;" width="90%"><b>(0)</b></td>
		<td style="background: URL(/shop/data/skin/campingyo/img/common/bar_detail_04_right.gif) no-repeat;" nowrap="" width="10" height="24"></td>
	</tr>
</tbody></table>

<div style="float:right;padding:10px 5px">
<a href="/shop/goods/goods_qna.php?&amp;" target="_parent"></a>
<a href="javascript:;" onclick="popup_register( 'add_qna', '30' )"></a>
</div>

<div style="clear:both;text-align:center;padding-bottom:15px;"></div>
</div>
<!-- footer -->
     <div th:replace="/main/footer.html"></div>
 
</body>

<script src="/js/jquery_min.js"></script>
	<script>
	 /*  $(document).ready(function() {
			"use strict";
			

		    // Preloader 
		    jQuery(window).on('load', function() {
		        jQuery("#status").fadeOut();
		        jQuery("#preloader").delay(350).fadeOut("slow");
		    });

	  }) */
	</script>
	
	<!--  <script src="/js/custom.js"></script> -->
<!-- <script src="/js/custom.js"></script> -->
</html>