<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Item - Start Bootstrap Template</title>
		<!-- 참조 : http://getbootstrap.com/css/   참조 -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		      
        
		<script>
			document.getElementsByTagName("html")[0].className += " js";
		</script>
		
		<link rel="stylesheet" href="/css/faq.css">
		<title>FAQ Template | CodyHouse</title>
</head>

<body>


<!-- 툴바 include -->
<div th:replace="/main/toolbar.html"></div>
<div th:replace="/main/leftbar.html"></div>


    


</body>

<script src="/js/jquery_min.js"></script>
	<script>
	  $(document).ready(function() {
			"use strict";
			

		    // Preloader 
		    jQuery(window).on('load', function() {
		        jQuery("#status").fadeOut();
		        jQuery("#preloader").delay(350).fadeOut("slow");
		    });

	  })
	</script>
	<script>
		console.log("javasc");
	</script>
	<!--  <script src="/js/custom.js"></script> -->
<!-- <script src="/js/custom.js"></script> -->
</html>