<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  
	<!-- 참조 : http://getbootstrap.com/css/   참조 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	 <link rel="stylesheet" href="/css/addRentalReview.css">
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
</head>
<style>
td{
	padding-bottom:10px !important;
}
.table{
	margin-bottom: 80px !important;
}
.page-header{
margin: 40px 0 0px !important;
border-bottom:3px solid #ddd !important;
}

	.tableBody td {
		width:33%;
 		vertical-align: middle !important;
	}
	
	.tableBody td > div {
		display:flex;
	}
	
	.tableBody td img{
		text-align:left;
		width:100px;
	}
	
	.tableBody td span{
		display:flex;
		align-items:center;
		padding:10px;
	}
	
	.borderTopNone{
		border-top:none !important;
	}
	.borderRight{
		border-right:1px solid #ddd;
	}
	.textCenter{
		text-align:center;
	}
	.borderBottom{
		border-bottom:1px solid #ddd;
	}
	.boxScroll {
    width: 96%;
    height: 130px;
    overflow: auto;
    BACKGROUND: #ffffff;
    COLOR: #585858;
    font: 9pt 돋움;
    border: 1px #dddddd solid;
    overflow-x: hidden;
    text-align: left;
    margin-left: 15px;
}
.container.list{
	padding-right:150px;
}

 textarea {
    width: 400px;
    height:200px;
    resize: none;
  }
</style>
<body>

<!-- 로딩시 뜨는 아이콘 -->
	<!-- <div id="preloader">
		<div id="status">
			<img src="/images/content/spinnerfbfbfb.gif" id="preloader_image" alt="loader">
		</div>
	</div>
 -->

<!-- 툴바 include -->
<div th:replace="/main/toolbar.html"></div>
<div th:replace="/main/leftbar.html"></div> 
<!-- 
<div th:replace="/main/toolbarForAdmin.html"></div>
<div th:replace="/main/leftbarForAdmin.html"></div> -->

<!--  화면구성 div Start /////////////////////////////////////-->
<div class="container list">

<div style="margin-top:20px; color:red;padding-bottom:10px;">
			사진등록
		</div>	
				 <!-- table 위쪽 검색 Start /////////////////////////////////////-->
	   
		<!-- table 위쪽 검색 Start /////////////////////////////////////-->
		
	 <form class="form-inline" name="detailForm" method="post">
	 <input type="hidden" id="currentPage" name="currentPage" value=""/>
		 <!--  table Start /////////////////////////////////////-->
     <div class="main-wrapper">
  <div class="img-upload-plugin">
                    <div class="img-upload-handler">
                      <div class="img-preview-big">
                        <img src="https://uploader-assets.s3.ap-south-1.amazonaws.com/codepen-default-placeholder.png">
                        <div class="img-delete">
                          <img src="https://uploader-assets.s3.ap-south-1.amazonaws.com/codepen-delete-icon.png">
                        </div>
                      </div>
                    </div>
                    <div class="img-preview-operate">
                      <div class="img-holder" style="display: inline-block; padding: 2px;"></div>
                      <button type="button" class="img-add-more">
                        <img src="https://uploader-assets.s3.ap-south-1.amazonaws.com/codepen-add-more-btn.png">
                      </button>
                    </div>
                    <input type="file" name="img-upload-input" style="display:none">
                  </div>
</div>
<input type="hidden"  name="prodImg" th:value="${product.prodImg}">
		<!--  table End /////////////////////////////////////-->
		
		<!-- 물품정보등록 -->
		
			<div style="margin-top:20px; color:red;padding-bottom:10px;">
			보관정보
		</div>
		
		<table width="100%" style="border:1px solid #DEDEDE" cellpadding="0" cellspacing="0">
<tbody><tr>
	<td width="150" valign="top" align="right" bgcolor="#F3F3F3" style="text-align:center; padding-top:30px;">
	물품정보
	</td>
	<td style="padding:10px">

	<table>
	<colgroup><col width="100">
	</colgroup><tbody>
	<tr>
		<td>물품이름</td>
		<td><input type="text" id="name" name="prodName"  th:value = "${product.prodName}"></td>
	</tr>

	<tr>
		<td>카테고리</td>
		<td>
			  <select th:field=${product.category} th:value=${product.category} name= "category">
   
        	 <option value="텐트">텐트</option>
	         <option value="침대">침대</option>
	         <option value="의자">의자</option>
	         <option value="그릴">그릴</option>
	         <option value="버너">버너</option>
	         <option value="조명">조명</option>
	         <option value="테이블">테이블</option>
	         <option value="식기">식기</option>
	         <option value="난로">난로</option>
	         <option value="기타용품">기타용품</option>
  
          </select>
		
		</td>
	</tr>
	
		<tr>
		<td>크기</td>
		<td >
		<span th:text =" ${product.width}"></span> x <span th:text = "${product.length}"></span> x <span th:text = "${product.height}"></span>
		</td>
	</tr>
	
	<tr>
		<td>물품설명</td>
		<td><textarea name="prodDetail" th:text = "${product.prodDetail}"></textarea></td>
	</tr>
	
	<tr>
		<td>물품수량</td>
		<td >
		<sapn th:text = "${product.prodQuantity}"></sapn> 개
		</td>
	</tr>
	
	</tbody></table>

	</td>
</tr>
</tbody></table>
		<!-- 물품정보등록 끝 -->
		
		<!-- 대여관련정보 -->
		<div style="margin-top:20px; color:red;padding-bottom:10px;">
			대여관련정보
		</div>
		
		<table width="100%" style="border:1px solid #DEDEDE" cellpadding="0" cellspacing="0">
<tbody><tr>
	<td width="150" valign="top" align="right" bgcolor="#F3F3F3" style="text-align:center; padding-top:30px;">
	대여정보
	</td>
	<td style="padding:10px">

	<table>
	<colgroup><col width="100">
	</colgroup><tbody>
	<tr>
		<td>대여가능여부</td>
		<td class="noline">
		<input type="radio" value=1 name="isRental" th:checked="${product.isRental eq 1}"> 대여가능.
		<input type="radio"  value=0 name="isRental" th:checked="${product.isRental eq 0}"> 대여불가
		</td>
	</tr>
	
	<tr>
		<td>물품대여가격</td>
		<td><input type="text" id="rentalPrice"       name="rentalPrice" th:value = "${product.rentalPrice}"> 원</td>
	</tr>
	
	<tr>
		<td>보증금</td>
		<td><input type="text" id="deposit"       name="deposit" th:value = "${product.deposit}"> 원</td>
	</tr>

	<tr>
		<td>계좌번호</td>
		<td>
			 <select class="account" name= "account">
   
        	 <option value="텐트">국민</option>
	         <option value="침대">신한</option>
  
          </select>
		 
		  <input type="text" id="account"       name="account" th:value = "${product.account}">
		</td>
	</tr>
	

	
	</tbody></table>

	</td>
</tr>
</tbody></table>
		<!-- 대여관련정보 끝 -->
		
     
      
    <div style="margin-top:20px; color:red;padding-bottom:10px;">
			반송관련정보
		</div>


<div style="font-size:0;height:5px"></div>
<table width="100%" style="border:1px solid #DEDEDE" cellpadding="0" cellspacing="0">
<tbody><tr>
	<td width="150" valign="top" align="right" bgcolor="#F3F3F3" style="text-align:center; padding-top:30px;">
	반송정보
	</td>
	<td style="padding:10px">

	<table>
	<colgroup><col width="100">
	</colgroup><tbody>

	
	<tr>
		<td>반송주소</td>
		<td>
		<input type="text" name="zonecode" id="zonecode" size="5" class="line" readonly="" value="" readonlycheck="">
		<a href="javascript:popup('../proc/popup_address.php',500,432);" id="addressSearch"><img src="/shop/data/skin/campingyo/img/common/btn_zipcode.gif" align="absmiddle"></a>
		</td>
	</tr>
	
	<tr>
		<td></td>
		<td><input type="text" id="divyAddress" name="divyAddress" th:value = "${product.divyAddress}"></td>
	</tr>
	<tr>
		<td></td>
		<td>
			<input type="text" name="address_sub" id="address_sub" class="lineBig" value="" onkeyup="SameAddressSub(this)" oninput="SameAddressSub(this)" label="세부주소" readonlycheck="">
			<input type="hidden" name="road_address" id="road_address" style="width:100%" value="" class="line">
			<div style="padding:5px 5px 0 1px;font:12px dotum;color:#999;" id="div_road_address"></div>
			<div style="padding:5px 0 0 1px;font:12px dotum;color:#999;" id="div_road_address_sub"></div>
		</td>
	</tr>
	


	</tbody></table>

	</td>
</tr>
</tbody></table>

<div style="padding:20px; margin-bottom:70px; margin-top:40px;" align="center" class="noline">
	<!--  <button th:onclick="|location.href='@{/product/updateProduct(prodNo = ${product.prodNo})}'|">저장하기</button>-->
	<button th:onclick="|location.href='@{/product/updateProduct}'|">저장하기</button>
	<button>이전</button>
</div>


	</form>
</div>
<!--  화면구성 div End /////////////////////////////////////-->

<!-- footer -->
     <div th:replace="/main/footer.html"></div>
 
</body>
<script src="/js/jquery_min.js"></script>
	<script src="/js/addRentalReview.js"></script>
	  <sciprt src="/js/rentalTest.js"></sciprt>
<script src="/js/jquery_min.js"></script>
	
	
	
	<!--  <script src="/js/custom.js"></script> -->
<!-- <script src="/js/custom.js"></script> -->
</html>