<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  
	<!-- 참조 : http://getbootstrap.com/css/   참조 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<!--  ///////////////////////// Bootstrap, jQuery CDN ////////////////////////// -->

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
	

</head>
<style>
	.row{
		display:flex;
	}
	
	.pagination{
		display: flex !important;
   		 justify-content: center;
	}
</style>
<body>

<!-- 툴바 include -->
 <div th:replace="/main/toolbarForAdmin.html"></div>
 <div th:replace="/main/leftbarForAdmin.html"></div>

<!--  화면구성 div Start /////////////////////////////////////-->
<div class="container list">
	<div class="page-header text-info" >
		       <h3 style="color:#000;">보관물품관리</h3>
		   
		</div>
		
			  <!-- table 위쪽 검색 Start /////////////////////////////////////-->
	    <div class="row">
	    
	    <div class="rowBelow">
	     <div>
	     		<span class="coditionBtnhs">
		        <button type="button" class="btn btn-default conditionBtn">
		        	전체
		        </button>
		        <span style="display:none"></span>
		        </span>
			     	<span class="coditionBtnhs">
		        <button type="button" class="btn btn-default conditionBtn">
		        	물품보관승인신청중
		        </button>
		        <span style="display:none">물품보관승인신청중</span>
		        </span>
			    <span class="coditionBtnhs">
		        <button type="button" class="btn btn-default conditionBtn">
		        	입고중
		        </button>
		        <span style="display:none">입고중</span>
		        </span>
	            <span class="coditionBtnhs">
		        <button type="button" class="btn btn-default conditionBtn">
		        	보관중
		        </button>
		        <span style="display:none">보관중</span>
		        </span>
	           <span class="coditionBtnhs">
		        <button type="button" class="btn btn-default conditionBtn">
		        	출고승인신청중
		        </button>
		        <span style="display:none">출고승인신청중</span>
		        </span>
			     <span class="coditionBtnhs">
		        <button type="button" class="btn btn-default conditionBtn">
		        	출고완료
		        </button>
		        <span style="display:none">출고완료</span>
		        </span>
		</div>
		    <div class="col-md-6 text-left">
		    	<p class="text-primary">
		    	  전체  [[${resultPage.totalCount}]] 건
		    	
		    	</p>
		    </div>
	    </div>
	    
		   
		    
		    <div class="col-md-6 text-right rowBelow">
			    <form class="form-inline" name="detailForm">
			    
	 <input type="hidden" class="prodCondition" name="searchProductCondition" th:value=${search.searchProductCondition}  />
	 <input type="hidden" id="currentPage" name="currentPage" value="1"/>
				
			 <div class="form-group">
				<select class="form-control"    name="searchCondition" >
					
					<!-- 서치키워드 입력안하고 검색눌렀을때 어케할까? -->
					<!-- 엔터는 먹히고 검색직접클릭은 안먹힘 -->
						<option th:value=null >전체</option>
						<option th:value="1" th:selected="${search.searchCondition} == '1' ">상품명</option>
						<option th:value="2" th:selected="${search.searchCondition} == '2' ">회원아이디</option>
						<!--  <option th:value="${not #strings.isEmpty(search.searchCondition)} and ${search.searchCondition} == 'prodName' ? 'prodName' : ''  " >상품명</option>--> 
					
					
					</select> 
				 </div>
				  
				 <div class="form-group">
				    <label class="sr-only" for="searchKeyword">검색어</label>
			 
		<input type="text" class="form-control"   id="searchKeyword" name="searchKeyword" 
       th:value="${not #strings.isEmpty(search.searchKeyword)} ? ${search.searchKeyword} : '' "   placeholder="검색어">
       
       </div>
				  <button type="button" class="btn btn-default search-btn">검색</button>
				 
				  
				  
				  <!-- PageNavigation 선택 페이지 값을 보내는 부분 -->
				  <input type="hidden" id="currentPage" name="currentPage" value=""/>
				  
			</form>	
	    	</div>
	    	
		</div>
		<!-- table 위쪽 검색 Start /////////////////////////////////////-->
		
		 <!--  table Start /////////////////////////////////////-->
		  <form class="form-inline2" name="detailForm">
      <table class="table table-hover table-striped">
           
	       <thead>
	          <tr class="tableHeader">
	          <th align="center">
             <input type="checkbox" id="cb1">
            </th>
	            <th align="center">보관물품번호</th>
	            <th align="center" >유저아이디</th>   
	            <th align="center">상품정보</th>
	            <th align="center">결제금액</th>
	            <th align="center">주문일자</th>			
	  		    <th align="center">진행상태</th>		
	  		    <th align="center"></th>
	  		    <th align="center">보관현황</th>
	          </tr>
	        </thead>
	        
	    
	        <tbody> 
	    
	    <tr th:each="storage :${list}">
	    
	    	<td align="left" th:if="${storage.storageProd.prodCondition} != '보관중' and ${storage.storageProd.prodCondition} != '출고완료' "> 
	    	<input  type="checkbox" class="cb2" name="prodCondition" th:value="${storage.storageProd.prodCondition}">
	    	</td>
	    	<td align="left" th:unless="${storage.storageProd.prodCondition} != '보관중' and ${storage.storageProd.prodCondition} != '출고완료' "> 
	    	
	    	</td>
		    <td  th:text = "${storage.tranNo}"></td>
			<td align="center" th:text = "${storage.userId}"></td>
			<td align="center" th:text = "${storage.prodName}"></td>
			<td align="center" th:text = "${storage.resultPrice}"></td>
			<td align="center" th:text = "${storage.paymentDate}"></td>
			<td align="center" th:text = "${storage.storageProd.prodCondition}"></td>
			<td>
			
			<input type="hidden"  class="prodNum" name="prodNo" th:value="${storage.prodNo}" />
		
			
			<button type="button" class="prodCondition-button"  th:if="${storage.storageProd.prodCondition}=='물품보관승인신청중' ">물품보관승인 <span style="display:none">물품보관승인신청중</span></button>
			<button type="button" class="prodCondition-button"  th:if="${storage.storageProd.prodCondition}=='입고중' ">보관하기 <span style="display:none">입고중</span> </button>
			<button type="button" class="prodCondition-button"  th:if="${storage.storageProd.prodCondition}=='출고승인신청중' ">출고승인<span style="display:none">출고승인신청중</span></button>
			</td>	  
			<td align="center" th:text = "${storage.storageProd.recentImg}"></td>	 
		
	    </tr>
	    
	        </tbody>
      </table>
		</form>
		<!--  table End /////////////////////////////////////-->

 <button  class="updateProdAllCon-btn">일괄업데이트</button>

	<ul class="pagination justify-content-center">
			<li class="page-item"><a class="page-link" href="#"
				aria-label="Previous"> <span aria-hidden="true">&laquo;</span> <span
					class="sr-only">Previous</span>
			</a></li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#"
				aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span
					class="sr-only">Next</span>
			</a></li>
		</ul>
</div>
<!--  화면구성 div End /////////////////////////////////////-->

</body>

<script src="/js/jquery_min.js"></script>
	<script>
	  $(document).ready(function() {
			"use strict";
			
			
		     $('.coditionBtnhs').on("click",function(){
		    	var inputValue= $(this).find('span').text();
		    	//alert(inputValue);
		    	
		    
		    		
		    	$('.prodCondition').attr('value',inputValue);
		    	console.log($('.prodCondition').val());
		    	//alert($('.prodCondition').val());
		    	
		    	 $(".form-inline").attr("method" , "POST").attr("action" , "/storage/listStorageForAdmin").submit(); 
		    		
		    
		    			    
		    }) 
		    
	  })
	  
	  //검색버튼 클릭시 발생이벤트
	  	$(function(){
			$(".search-btn").on("click", function(){
			
			 $('form').attr('method', 'POST').attr('action','/storage/listStorageForAdmin').submit();
			
		})
	});
	  
///////////////일괄체크
	  $(function(){
	  	$('#cb1').on("click", function(){
	  		
	  	
	  		
	  		if($('#cb1').prop('checked')){
	  			
	  		$('.cb2').prop('checked', true);
	  			
	  		} else{
	  			
	  		$('.cb2').prop('checked', false);
	  		
	  		}
	  		
	  	})
	  	
	  	$('.cb2').on("click", function(){
	  		
	  	
	  		
	  		if($("input[name='check']:checked").length == 11){
	  			
	  		$('#cb1').prop('checked', true);
	  			
	  		} else{
	  			
	  		$('#cb1').prop('checked', false);
	  		
	  		}
	  		
	  	})
	  	
	  });
	  
	  //일괄업데이트
	   $( ".updateProdAllCon-btn" ).on("click" , function() {
	    	
		   $('form').attr('method', 'POST').attr('action', '/product/updateProductAllCondition').submit();
	 		
		}); 
	  
	   //단일업데이트
	   $( ".prodCondition-button" ).on("click" , function() {
		   
		   var prodCondition= $(this).find('span').text();
	    	var prodNum = $(this).parent().find('.prodNum').val();
	    	
	    	//alert(prodCondition);
	    	//alert(prodNum);
	  
	    	
		   self.location = "/product/updateProductCondition?prodNo="+prodNum +"&productCondition="+prodCondition
		}); 
	  
	  
	</script>
	
	<!--  <script src="/js/custom.js"></script> -->
<!-- <script src="/js/custom.js"></script> -->
</html>