<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  
	<!-- 참조 : http://getbootstrap.com/css/   참조 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<!--  ///////////////////////// Bootstrap, jQuery CDN ////////////////////////// -->

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
	<script src="/js/imagePreview.js"/>
	
	
	<!-- Bootstrap Dropdown Hover CSS -->
<!--    <link href="/css/bootstrap-dropdownhover.min.css" rel="stylesheet"> -->
    <!-- Bootstrap Dropdown Hover JS -->
  <!--  <script src="/javascript/bootstrap-dropdownhover.min.js"></script> -->
   <script>
   			/*
   			$("#okay").click(function(){
   				self.location = "/board/listAnnounce";
			});
   			
   			$("#update").click(function(){
   				var boardNo=$(#boardNo).val();
   				self.location = "/board/updateAnnounce?boardNo="+boardNo;
			});
   			
   			$("#delete").click(function(){
   				var boardNo=$(#boardNo).val();
   				self.location = "/board/deleteAnnounce?boardNo="+boardNo;
			});
   			
   			$("#pin").click(function(){
   				var boardNo=$(#boardNo).val();
   				self.location = "/board/updateFixAnnounce?boardNo="+boardNo;
			});
*/
   </script>
   
     
  
  <!-- jQuery UI toolTip 사용 JS-->
<!--   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

</head>

<body>

<!-- 로딩시 뜨는 아이콘 -->
	<div id="preloader">
		<div id="status">
			<img src="/images/content/spinnerfbfbfb.gif" id="preloader_image" alt="loader">
		</div>
	</div>


<!-- 툴바 include -->
<div th:replace="/main/toolbar.html"></div>
<div th:replace="/main/leftbar.html"></div>

<!--  화면구성 div Start /////////////////////////////////////-->
<div class="container list">

	<div class="page-header text-info">
		 <h3>공지사항 조회</h3>
	</div>
		<input type="hidden" name="boardNo" id="boardNo" value=""/>
	 <div class="row" >
	  <div class="col-sm-12 col-md-12">
	    <div class="thumbnail" >
	    	<h2 style="display: flex;flex-direction: column;align-items: center;">
	    		[[${board.boardTitle}]]
	    	</h2>
	    	<h8 style="display: flex;justify-content: flex-end">
				게시날짜 :&nbsp<div th:text="
	    		 ${#dates.format(board.boardDate,'yyyy-MM-dd')}"
	    		></div>
			</h8>
	      <img src="..." alt="..."  style="display: flex;justify-content: center;">
	      <p style="text-align:center"><a href="#" class="btn btn-default" role="button" >쿠폰받기</a></p>
	      <div class="caption">
	        <h3>[[${board.boardDetail}]]</h3>
	      </div>
	    </div>
	  </div>
</div>

<button type="text" class="btn btn-default" id="okay">
	<a th:href="@{/board/listAnnounce}" >확인</a>
</button>

<span sec:authorize="isAuthenticated()">
    <button type="text" class="btn btn-default" id="update">
    	<a th:href="@{/board/updateAnnounce(boardNo=${board.boardNo})}" >수정</a>
    </button>
	<button type="text" class="btn btn-default" id="delete">
		<a th:href="@{/board/deleteAnnounce(boardNo=${board.boardNo})}" >삭제</a>
	</button>
	<button type="text" class="btn btn-default" id="pin">
		<a th:href="@{/board/updateFixAnnounce(boardNo=${board.boardNo})}" >상단 고정 적용 / 미적용</a>
	</button>
	<br/>
	<h4 th:if="${board.boardPin}==1">현재 이 공지사항은 고정되어 있습니다.</h4>
	<h4 th:if="${board.boardPin}==0">현재 이 공지사항은 고정되어 있지 않습니다.</h4>
</span>

	
</div>
<!--  화면구성 div End /////////////////////////////////////-->

</body>

<script src="/js/jquery_min.js"></script>
	<script>
	  $(document).ready(function() {
			"use strict";
			

		    // Preloader 
		    jQuery(window).on('load', function() {
		        jQuery("#status").fadeOut();
		        jQuery("#preloader").delay(350).fadeOut("slow");
		    });
	  })
	  
	</script>
	
	<!--  <script src="/js/custom.js"></script> -->
<!-- <script src="/js/custom.js"></script> -->
</html>