<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  
	<!-- 참조 : http://getbootstrap.com/css/   참조 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<!--  ///////////////////////// Bootstrap, jQuery CDN ////////////////////////// -->

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
	<link rel="stylesheet" href="/css/addAnnounce.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
	<script src="/js/addAnnounce.js"></script>
	
	
	<!-- Bootstrap Dropdown Hover CSS -->
<!--    <link href="/css/bootstrap-dropdownhover.min.css" rel="stylesheet"> -->
    <!-- Bootstrap Dropdown Hover JS -->
  <!--  <script src="/javascript/bootstrap-dropdownhover.min.js"></script> -->
   <script>
   			//공지사항 등록
   			$("#update").click(function(){
				var boardTitle=$("input[name='boardTitle']").val();
				var boardDetail=$("input[name='boardDetail']").val();
				alert(boardTitle);
				alert(boardDetail);
				if(boardTitle!=null && boardDetail!=null){
					alert("공지사항 수정 완료");
					$("form").attr("method" , "POST").attr("action" , "/board/updateAnnounce").submit();	
				}else{
					alert("공지사항 제목과 내용을 반드시 적어주세요");
				}
			});

   </script>
   
     
  
  <!-- jQuery UI toolTip 사용 JS-->
<!--   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

</head>

<body>

<!-- 로딩시 뜨는 아이콘 -->
	<div id="preloader">
		<div id="status">
			<img src="/images/content/spinnerfbfbfb.gif" id="preloader_image" alt="loader">
		</div>
	</div>


<!-- 툴바 include -->
<div th:replace="/main/toolbar.html"></div>
<div th:replace="/main/leftbar.html"></div>

<!--  화면구성 div Start /////////////////////////////////////-->
<div class="container list">
	<div class="page-header text-info">
		 <h3>공지사항 수정</h3>
	</div>
		
	 <form class="form-inline" name="detailForm">
	 
	 	<div class="input-group">
		  <span class="input-group-addon">제목</span>
		  <input type="text" id="boardTitle" name="boardTitle" class="form-control"  
		  aria-describedby="basic-addon1" style="width: 1200px"
		  th:value=${board.boardTitle}>
		</div>
		
		<br/>
		
		<div class="input-group">
		  <span class="input-group-addon">내용</span>
		  <input type="text" id="boardDetail" name="boardDetail" class="form-control" 
		   aria-describedby="basic-addon1" style="width: 1200px; height:360px"
		   th:value=${board.boardDetail}/>
		</div>
		
		<br/>
		<!--
		<div class="form-group">
		    <label for="inputFile">사진 등록</label>
		    <input type="file" id="inputFile" name="inputFile" onChange="previewImage(this,'View_area')" multiple/>
		</div>
		
		<br/>
		-->
		
		<div class="main-wrapper">
		  <div class="img-upload-plugin">
		                    <div class="img-upload-handler">
		                      <div class="img-preview-big">
		                        <img src="https://uploader-assets.s3.ap-south-1.amazonaws.com/codepen-default-placeholder.png">
		                        <div class="img-delete">
		                          <img src="https://uploader-assets.s3.ap-south-1.amazonaws.com/codepen-delete-icon.png">
		                        </div>
		                      </div>
		                    </div>
		                    <div class="img-preview-operate">
		                      <div class="img-holder" style="display: inline-block; padding: 2px;"></div>
		                      <button type="button" class="img-add-more">
		                        <img src="https://uploader-assets.s3.ap-south-1.amazonaws.com/codepen-add-more-btn.png">
		                      </button>
		                    </div>
		                    <input type="file" name="img-upload-input" style="display:none" multiple>
		                  </div>
			</div>
		  
		
		<button type="text" class="btn btn-default" id="update">수정</button>
		<button type="text" class="btn btn-default" id="cancel">
			<a th:href="@{/board/getAnnounce?boardNo=${board.boardNo}}" >취소</a>
		</button>
		</div>

	</form>
</div>
<!--  화면구성 div End /////////////////////////////////////-->

</body>

<script src="/js/jquery_min.js"></script>
	<script>
	  $(document).ready(function() {
			"use strict";
			

		    // Preloader 
		    jQuery(window).on('load', function() {
		        jQuery("#status").fadeOut();
		        jQuery("#preloader").delay(350).fadeOut("slow");
		    });
	  })
	  
	</script>
	
	<!--  <script src="/js/custom.js"></script> -->
<!-- <script src="/js/custom.js"></script> -->
</html>