
<style>
.leftBarNav {

    width: 170px;
    float: left;
    margin: 114px 40px 0px 0px;
  /*   font-family: Musinsa, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif; */
    font-size: 14px;
    padding: 60px 10px 10px 30px;
    
    height: 630px;
    padding-top:0;
    position:fixed;
}

.leftBarNav.on{
	
}



  .leftBarNav::-webkit-scrollbar {
    width: 3px;
  }
  .leftBarNav::-webkit-scrollbar-thumb {
    background-color: #2f3542;
  }
  .leftBarNav::-webkit-scrollbar-track {
    background-color: lightgrey;
  }

.leftBarNav > h2 {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0px, 0px, 0px, 0px);
}
.leftBarNav > span {
    font-size: 16px;
    line-height: 20px;
    color: rgb(20, 170, 255);
}

.leftBarNav.on ul {
	
}

.leftBarMenu {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    
}

.leftBarMenu > h3 {
    padding: 13px 0px 2px;
    font-size: 20px;
    font-weight: normal;
    line-height: 40px;
   
    
}

.leftBarMenu > div {
	margin-top:10px;
}

.leftBarMenu >  div > leftBarListArray{
    display: flex;
    margin-top: 2px;
    font-size: 16px;
    line-height: 40px;
    color: rgb(110, 110, 110) !important;
}

.leftBarMenu > div > ul {
	padding-left:10px; 
}

.leftBarListArray div {
	display:flex;
	}
	
.leftBarListShow{
	cursor:pointer;
}	

.leftBarListShow a:hover{
	font-weight: 900;
}	


	
.leftBarListShow ul {
	display:none;
}
	
.leftBarListShow.on ul{
	display: block;
}

.leftBarListShow.on i{
	transform:rotate(180deg);
}
	
</style>

<body>
<nav class="leftBarNav">
<h2>Mypage Navigation Menus</h2>
<span></span>

<div class="leftBarMenu">
	<h3>카테고리</h3>
<div class="leftBarListShow">
<div class="leftBarListArray">
		<span class="leftBarList">
			<a >텐트
			<input type="hidden" class="searchCategoryDate" name="searchCategoryDate"  value="텐트">
			</a>
		</span>
	</div>
</div>

<div class="leftBarListShow">
<div class="leftBarListArray">
		<span class="leftBarList">
			<a>침대<input type="hidden"  class="searchCategoryDate" name="searchCategoryDate" value="침대"></a>
		</span>
	</div>
</div>
	

<div class="leftBarListShow">
	<div class="leftBarListArray">
		<span class="leftBarList">
			<a>의자<input type="hidden" class="searchCategoryDate" name="searchCategoryDate" value="의자"></a>
		</span>
	</div>
</div>
<div class="leftBarListShow">
	<div class="leftBarListArray">
		<span class="leftBarList">
			<a>
			<input type="hidden" class="searchCategoryDate" name="searchCategoryDate" value="그릴">
			그릴</a>
		</span>
	</div>
</div>
<div class="leftBarListShow">
	<div class="leftBarListArray">
		<span class="leftBarList">
			<a>버너<input type="hidden" class="searchCategoryDate" name="searchCategoryDate" value="버너"></a>
		</span>
	</div>
</div>
<div class="leftBarListShow">
	<div class="leftBarListArray">
		<span class="leftBarList">
			<a>조명<input type="hidden" class="searchCategoryDate" name="searchCategoryDate" value="조명"></a>
		</span>
	</div>
</div>
<div class="leftBarListShow">
	<div class="leftBarListArray">
		<span class="leftBarList">
			<a>테이블<input type="hidden" class="searchCategoryDate" name="searchCategoryDate" value="테이블"></a>
		</span>
	</div>
</div>
<div class="leftBarListShow">
	<div class="leftBarListArray">
		<span class="leftBarList">
			<a>식기<input type="hidden" class="searchCategoryDate" name="searchCategoryDate" value="식기"></a>
		</span>
	</div>
</div>
<div class="leftBarListShow">
	<div class="leftBarListArray">
		<span class="leftBarList">
			<a>난로<input type="hidden" class="searchCategoryDate" name="searchCategoryDate" value="난로"></a>
		</span>
	</div>
</div>
<div class="leftBarListShow">
	<div class="leftBarListArray">
		<span class="leftBarList">
			<a><input type="hidden" class="searchCategoryDate"  name="searchCategoryDate" value="그릴">기타용품</a>
		</span>
	</div>
</div>
</div>


<div>

</div>
</nav>
</body>
	<script src="/js/jquery_min.js"></script>
	<script>
		$(function(){
			
			const leftBarNav = $('.leftBarList');
			const leftBarListArray = $('.leftBarListArray');
			const leftBarIcon = $('.leftBarListArray i');
			const leftBarListShow = $('.leftBarListShow');
			
			leftBarListArray.on("click",function(){
				$(this).parent().toggleClass('on');
			})
			
			
		})
		
	</script>