<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />

<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- Bootstrap icons-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
	rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="/css/getOld.css" rel="stylesheet" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

</head>
<style>
</style>



<body>
	<!-- Navigation-->
	<div th:replace="/main/toolbar.html"></div>

	<div class="card-wrapper">

		<div class="card">
			<!-- card left -->

			<div class="product-imgs">
				<div class="img-display">
					<div class="img-showcase">
						<img th:src="@{/images/content/fff.png}"> <img
							th:src="@{/images/content/ccc.jpg}"> <img
							th:src="@{/images/content/fff.png}"> <img
							th:src="@{/images/content/fff.png}">
					</div>
					<div class="buttons">

						<button type="button" class="btn">삭제</button>
						<button type="button" class="btn">
							<a th:href="@{/old/updateOld(oldNo=${old.oldNo})}">수정</a>
						</button>
						<button type="button" class="btn">끌어올리기</button>
					</div>
				</div>


				<div class="img-select">
					<div class="img-item">
						<a href="#" data-id="1"> <img
							th:src="@{/images/content/fff.png}">
						</a>
					</div>
					<div class="img-item">
						<a href="#" data-id="2"> <img
							th:src="@{/images/content/ccc.jpg}">
						</a>
					</div>
					<div class="img-item">
						<a href="#" data-id="3"> <img
							th:src="@{/images/content/fff.png}">
						</a>
					</div>
					<div class="img-item">
						<a href="#" data-id="4"> <img
							th:src="@{/images/content/fff.png}">
						</a>
					</div>
				</div>


			</div>
			<!-- card right -->
			<div class="product-content">

				<h2 class="product-title" th:text=${old.oldTitle}></h2>

				<div class="categoryaddr">

					<div class="category" th:text=${old.category}></div>
					/
					<div class="oldAddr" th:text=${old.oldAddr}></div>
					/ 조회
					<div class="oldView" th:text=${old.oldView}></div>
				</div>

				<div class="oldDate" th:text=${old.oldDate}></div>
				<!--       <a href = "#" class = "product-link">visit nike store</a> -->
				<!--     <div class="userProfile">   -->
				<!--     <p class="fa-solid fa-circle-user"></p> -->
				<!--      </div> -->

				<!--     <a href = "#"> -->
				<!--           <img alt="" src="/images/content/danielstorage"> -->
				<!--         </a> -->
				<!--      //////////////////// -->
				<div class="user">

					<table>
						<tr>
							<td>

								<div class="userProfile">


									<a th:href="@{/user/getUser(userId=${old.userId})}"
										style="height: 54;"> <img
										src="https://randomuser.me/api/portraits/men/52.jpg"
										alt="A man smiling" /></a>

								</div>

							</td>

							<td>
								<p>
									<span class="a" th:text=${old.userId}></span>
								</p>

								<div class="product-rating">

									<i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
										class="fas fa-star"></i> <i class="fas fa-star"></i> <i
										class="fas fa-star-half-alt"></i> <span
										th:text=${oldReview.userRate}></span> 

								</div>

							</td>
						</tr>
					</table>

				</div>

				<div class="purchase-info">

					<button type="button" class="btn">
						채팅하기<i class="fa-solid fa-comments"></i>
					</button>

				</div>


				<div class="kakaolike">

					<div class="social-links">
						<a href="#"> 공유하기 <!-- 			<img alt="" src="/images/content/kakao.png"></i> -->

						</a>

					</div>

					<div class="oldLike">

						<button type="button" class="btn">
							찜하기<i class="fa-solid fa-heart"></i>
						</button>

					</div>
				</div>

				<div class="product-price">
					<!--         <p class = "last-price">Old Price: <span>$257.00</span></p> -->
					<span th:text=${old.oldPrice}></span> <span>원</span>
				</div>

				<div class="product-detail">



					<p class="detail" th:text=${old.oldDetail}></p>

				</div>




			</div>

		</div>

	</div>
	<div class="container tempList">
		<div class="row">
			<div class="col-md-12">
				<!-- 	형산오빠  get 화면 밑에 중고거래게시물추천으로 list 나오게 하고싶은데  안나와.. 이부분부터임		 -->
				<h2>같은 카테고리의 물품들</h2>
				<div class="old-list">

					<!-- BEGIN old -->
					<div class="old" th:each="old : ${list}">
						<div class="owl-item active" style="width: 270px;">

							<div class="item">
								<div class="try_rc_mob_box_wrapper">
									<div class="try_rc_mob_img">
										<img class="imgTemp" width="220" height="205"
											th:src="@{/images/content/fff.png}">
										<!--	<h5>Sale</h5>  -->
										<a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
									</div>
									<div class="try_rc_mob_img_cont">
										<h2>title</h2>

									</div>
									<div class="try_rc_mob_img_cont_bottom">
										<p>
											<span class="new-price" th:text="|${old.oldPrice}원|"></span>
										</p>
										<div class="try_mob_btn_wrapper">
											<a th:href="@{/old/getOld(oldNo= ${old.oldNo})}">자세히 보기</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<!-- END old -->


				</div>
				<!-- END old List -->

			</div>
		</div>
	</div>



	<!-- Footer-->
	<div th:replace="/main/footer.html"></div>

	<script src="/js/getOld.js"></script>
	<script>
		
	</script>
</body>

<script type="text/javascript">
	function fncUpdateOld() {

		self.location = "/old/updateOld?oldNo="
				+ $(this).children("input").val();

		// 	$("form").attr("method" , "GET").attr("action" , "/old/getOld").submit();

	}

	$(function() {

		//==> DOM Object GET 3가지 방법 ==> 1. $(tagName) : 2.(#id) : 3.$(.className)
		$("#updateOld").on(
				"click",
				function() {

					self.location = "/old/updateOld?oldNo="
							+ $(this).children("input").val();

				});
	});
</script>

</html>