<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<!--  ///////////////////////// CSS ////////////////////////// -->
<style type="text/css">

.formData{
	margin: 10px 0px 10px 0px;
}
.left{
	margin: 20px 0px 20px 0px;
}
.right{
	margin: 20px 0px 20px 0px;
}
.couponList{
	margin: 30px 0px 30px 0px;
}
</style>
	
	
	
</head>

<body>
<!-- 툴바 include -->
<div th:replace="/main/toolbarForAdmin.html"></div>
<div th:replace="/main/leftbarForAdmin.html"></div>

<!-- hidden data -->
<input type="hidden" id="currentPage" name="currentPage" value=""/>


<!--  화면구성 div Start /////////////////////////////////////-->
<div class="container list">
	
	
	<div><!-- 쿠폰 생성/수정  -->
		<div>
			<h2 style="color: black; margin: 30px 0 30px 0px;">쿠폰관리</h2>
			<h3 style="color: black; margin: 15px 0 15px 0px;">쿠폰 생성/수정</h3>
		</div>
	
	<form>
		<input type="hidden" name="couponNo" id="couponNo">
 		<div class="formData" align="center">
			<div class="col-md-6 left">
				<div style="margin: 10px 0px 10px 30px;">
					<label>쿠폰이름</label>
					<input type="text" name="couponName" id="couponName">
				</div>
				<div style="margin: 10px 0px 10px 0px;">
					<label>쿠폰발급일자</label>
					<input type="text" name="couponCreDate" id="couponCreDate" readonly="readonly">
				</div>
			</div>
			<div class="col-md-6 right">
				<div style="margin: 10px 0px 10px 30px;">
					<label >할인내용</label>
					<input type="text" name="discount" id="discount">
				</div>
				<div style="margin: 10px 0px 10px 0px;">
					<label>쿠폰만료일자</label>
					<input type="text" name="couponDelDate" id="couponDelDate" readonly="readonly">
				</div>
			</div>
     </div>
	     <div align="center">
	     	<button type="button" class="btn btn-default conditionBtn" id="summit">등록/수정</button>
	     	<button type="button" class="btn btn-default conditionBtn" id="reset">초기화</button>
	     	
		</div>
     </form>
	</div><!-- 쿠폰 생성/수정  끝-->
	

	<div class="couponList">
      <h2 style="color: black; margin: 15px 0 15px 0;">쿠폰목록</h2>
      <table class="table table-hover table-striped">
	       <thead>
	          <tr class="tableHeader">
	            <th align="center">No</th>
	            <th align="center" >쿠폰번호</th>   
	            <th align="center">쿠폰이름</th>
	            <th align="center">할인내용</th>
	            <th align="center">쿠폰발급일자</th>	
	            <th align="center">쿠폰만료일자</th>
	            <th align="center">쿠폰수정</th>				
	          </tr>
	        </thead>
	        
	        <tbody>
			    <tr th:each="coupon,n :${list}" align="center">
			    	<td th:text = "${n.index+1}">
				    <td th:value = "${coupon.couponNo}" class="listCouponNo">[[${coupon.couponNo}]]</td>
					<td th:value = "${coupon.couponName}" class="listCouponName">[[${coupon.couponName}]]</td>
					<td th:value = "${coupon.discount}" class="listDiscount">[[${coupon.discount}]]</td>
					<td th:value = "${coupon.couponCreDate}" class="listCreDate">[[${coupon.couponCreDate}]]</td>
					<td th:value = "${coupon.couponDelDate}" class="listDelDate">[[${coupon.couponDelDate}]]</td>
					<td >
						<input type="hidden" name="couponNo" id="couponNo">
						<button type="button" class="btn btn-default conditionBtn"
								th:value="${coupon.couponNo}" id="updateBtn">
							수정
						</button>
						<button type="button" class="btn btn-default conditionBtn"
								th:value="${coupon.couponNo}" id="deleteBtn">
							삭제
						</button>
					</td>
			    </tr>
	        </tbody>

      </table>
      </div>
		<!--  table End /////////////////////////////////////-->
		
	</div>
<!--  화면구성 div End /////////////////////////////////////-->



</body>


<!--  ///////////////////////// java Script ////////////////////////// -->
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript">
		
	  $(function() {
			
		 	// 쿠폰등록/수정 이벤트
			$( "#summit" ).on("click" , function() {
				console.log("summit Click");
				
				
			 	var inputNo =  $("input[name='couponNo']").val();
				console.log(inputNo);
				
				if(inputNo == 0){
					console.log("inputNo : "+inputNo);
					console.log("inputNo 없을 경우 add");
					if(confirm("쿠폰을 생성하시겠습니까?")){
		            	fncAddCoupon();
		             }
		             else
		             {
		             return;
		             }
				}else if(inputNo != 0){
					console.log("inputNo : "+inputNo);
					console.log("inputNo 있을 경우 update");
					if(confirm("쿠폰을 수정하시겠습니까?")){
		            	fncUpdateCoupon();
		             }
		             else
		             {
		             return;
		             }
				}
			});
			
		 	// 입력내용 초기화 내용
			$( "#reset" ).on("click" , function() {
				console.log("reset Click");
				location.reload();
			});
		 	
		 	// 쿠폰수정 이벤트
			$(updateBtn).on("click" , function() {
				console.log("update Click");
				
				var listCouponNo = $(this).parent().parent().find(".listCouponNo").text();
				var listCouponName = $(this).parent().parent().find(".listCouponName").text();
				var listDiscount = $(this).parent().parent().find(".listDiscount").text();
				var listCreDate = $(this).parent().parent().find(".listCreDate").text().substring(0,10);
				var listDelDate = $(this).parent().parent().find(".listDelDate").text().substring(0,10);

			 	$("input[name='couponNo']").val(listCouponNo);
			 	$("input[name='couponName']").val(listCouponName);
			 	$("input[name='discount']").val(listDiscount);
			 	$("input[name='couponCreDate']").val(listCreDate);
			 	$("input[name='couponDelDate']").val(listDelDate);
				
			});
		 	
			// 쿠폰삭제버튼 이벤트
			$(deleteBtn).on("click" , function() {
	            console.log("delete Click");
	            if(confirm("해당 쿠폰을 삭제하시겠습니까?")){
	            	var listCouponNo = $(this).val();
	                $("input[name='couponNo']").val(listCouponNo);
	                $("form").attr("method" , "POST").attr("action" , "/coupon/deleteCoupon").submit();
	             }
	             else
	             {
	             return;
	             }
			});
		});	
	 
	 function fncAddCoupon(){
		 
		 	var couponNo 	=	"20";
		 	var	couponName	=	$("input[name='couponName']").val();
		 	var discount	=	$("input[name='discount']").val();
		 	var couponCreDate =	$("input[name='couponCreDate']").val()+" 00:00:00";
		 	var	couponDelDate =	$("input[name='couponDelDate']").val()+" 00:00:00";
		 	
		 	
		 	if(couponName == null|| couponName.length<1){
		 		alert("쿠폰이름을 입력해 주세요");
		 		return;
		 	}
		 	if(discount == null|| discount.length<1){
		 		alert("할인내용을 입력해 주세요");
		 		return;
		 	}
		 	if(discount<0 || 1<discount<999 || 300000<discount){
		 		alert("0~1 또는 1,000~300,000 범위내에서 입력해주세요");
		 		return;
		 	}
		 	if(couponCreDate == null|| couponCreDate.length<1){
		 		alert("쿠폰발급일자를 입력해 주세요");
		 		return;
		 	}
		 	if(couponDelDate == null|| couponDelDate.length<1){
		 		alert("쿠폰만료일자를 입력해 주세요");
		 		return;
		 	}
		 	if(couponCreDate == couponDelDate){
		 		alert("발급일자와 만료일자가 같습니다");
		 		return;
		 	}
		 	if(couponDelDate < couponCreDate){
		 		alert("만료일자는 발급일자보다 커야합니다");
		 		return;
		 	}
		 	$("input[name='couponDelDate']").val(couponDelDate);
		 	$("input[name='couponCreDate']").val(couponCreDate);
		 	$("input[name='couponNo']").val(couponNo);

		 	$("form").attr("method" , "POST").attr("action" , "/coupon/addCoupon").submit();
 
	 } 
	
	function fncUpdateCoupon(){
		 console.log("fncUpdateCoupon");
		 
		 	var couponNo 	=	$("input[name='couponNo']").val();
		 	var	couponName	=	$("input[name='couponName']").val();
		 	var discount	=	$("input[name='discount']").val();
		 	var couponCreDate =	$("input[name='couponCreDate']").val()+" 00:00:00";
		 	var	couponDelDate =	$("input[name='couponDelDate']").val()+" 00:00:00";
		 	
		 	
		 	if(couponNo == null|| couponNo.length<1){
		 		alert("쿠폰을 선택해 주세요");
		 		return;
		 	}
		 	if(couponName == null|| couponName.length<1){
		 		alert("쿠폰이름을 입력해 주세요");
		 		return;
		 	}
		 	if(discount == null|| discount.length<1){
		 		alert("할인내용을 입력해 주세요");
		 		return;
		 	}
		 	if(discount<0 || 1<discount<999 || 300000<discount){
		 		alert("0~1 또는 1,000~300,000 범위내에서 입력해주세요");
		 		return;
		 	}
		 	if(couponCreDate == null|| couponCreDate.length<1){
		 		alert("쿠폰발급일자를 입력해 주세요");
		 		return;
		 	}
		 	if(couponDelDate == null|| couponDelDate.length<1){
		 		alert("쿠폰만료일자를 입력해 주세요");
		 		return;
		 	}
		 	if(couponCreDate == couponDelDate){
		 		alert("발급일자와 만료일자가 같습니다");
		 		return;
		 	}
		 	if(couponDelDate < couponCreDate){
		 		alert("만료일자는 발급일자보다 커야합니다");
		 		return;
		 	}
		 	$("input[name='couponDelDate']").val(couponDelDate);
		 	$("input[name='couponCreDate']").val(couponCreDate);
		 	$("input[name='couponNo']").val(couponNo);
		 	
		 	$("form").attr("method" , "POST").attr("action" , "/coupon/updateCoupon").submit();

	 }

	</script>

 	
 	<!-- 날짜표시 date picker  -->
 	<script> 
		$('#couponCreDate').datepicker({
			dateFormat: 'yy-mm-dd',
			minDate: "+1D"
			});
		$('#couponDelDate').datepicker({
			dateFormat: 'yy-mm-dd',
			minDate: "+1D",
			}); 
	</script>

</html>