@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    line-height: 1.5;
}
.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
.old{
	margin:0;
}
div img{
    width: 100% !important;
    display: block;
    height: 100%
}
.img-display{
    overflow: hidden;
    position:relative;
}
.img-showcase{
    display: flex;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}


/* 제목 */

.product-title{
    font-size: 3rem;
    font-family: arial;
/*     text-transform: capitalize; */
/*     font-weight: 7000; */
    position: relative;
    color: rgb(0, 0, 0);
    margin-top: 1rem ;
    margin-bottom:0.5rem;
}
.categoryaddr{

	font-style: italic;
	display: flex;
	margin-bottom: 0rem;
}
.category{
	
	margin-right: 1rem;
}
.oldAddr{
	margin-left: 1rem;
	margin-right: 1rem;
}

.oldView{
	margin-left: 0.5rem;
	
}

.oldDate{
	margin-bottom:2rem;
	font-style: italic;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    
}

/* .user{ */
/* 	display:flex; */
/* } */
.userProfile{
	color:#c0c0c0;
	font-size: 1rem;
	font-style: italic;
	margin-top:0rem;
	margin-right: -44px;
}
.userProfile img{
	width:50% !important;
	margin-top:0rem;
	border-radius:100%;
/* 	padding-right:0 !important; */
}
.userProfile span{
	font-size:1.4rem;
	padding-top: 0;
	padding-bottom: 11rem;
	
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
    margin-top: 0.5rem;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}


.product-price{
    margin: 2rem 0;
    font-size: 1.5rem;
    font-weight: 700;
    color:#636363;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #000000;
    text-decoration: line-through;
}
.new-price span{
     color: #000000;
}

.product-detail {
    font-size: 17px;
    padding: 0.3rem;
    opacity: 0.8;
    color: #474747;
}
/* .product-detail ul{ */
/*     margin: 1rem 0; */
/*     font-size: 0.9rem; */
/* } */
/* .product-detail ul li{ */
/*     margin: 0; */
/*     list-style: none; */
/* /*     background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png) left center no-repeat; */ */
/* /*     background-size: 18px; */ */
/* /*     padding-left: 1.7rem; */ */
/*     margin: 0.4rem 0; */
/*     font-weight: 600; */
/*     opacity: 0.9; */
/* } */
/* .product-detail ul li span{ */
/*     font-weight: 400; */
/* } */
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid transparent;
    border-radius: 10px;
    text-align: center;
    padding: 0.5rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 210px;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background:   #8000ff;
}
.purchase-info .btn:last-of-type{
    background:   #8000ff;
}
.purchase-info .btn:hover{
    opacity: 0.8;
    color:#000000;
}

.kakaolike{
	display: flex;
}

.oldLike .btn{
	border:1px solid #808080;
}
.oldLike .btn:first-of-type{
	background: #ffffff;
}

.oldLike .btn:hover{
	background:#f0f0f0;
	border-color: transparent;
}
.oldLike i:hover{
/* 	background: #000000; */
	font-size: 1.1rem;
}
.oldLike i{
	 width: 30px;
	 color: #ff0000;
}
.oldLike{
	color: #000000;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 105px;
    height: 34px;
    color: #000000;
    border: 1px solid #808080;
    margin: 0 0.2rem;
    border-radius: 7%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: rgb(254, 228, 48);
    border-color: transparent;
    color: #000000;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:0;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
    
    .img-display{
		positioin:relative !important;
	}
	
	.buttons{
		position:absolute;
		top:0;
		left:0;
		padding:10px;
	
	}
    

}


.container.tempList{
   padding-top: 0 !important;
   
    max-width: 1262px;
    height: auto;
    min-height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
}


.old-list{
margin-bottom: 210px !important;
  padding: 0;
  margin: 20px;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;  
}

.old-list .old{  
    border-radius: 10px;
  
  margin: 7px; /* Space between olds related with nth-childs below */
  
  position: relative;
  border: 2px solid #eee;
  background: white;
  

  min-height: 465px;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* 4 item list */
.old-list .old:nth-child(4n+1){
  margin-left: 0;
}
.old-list .old:nth-child(4n+4){
  margin-right: 0;
}

.old-list .old:hover{
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);
}

.old-list .old .old-image{
  position: relative;
}

/* Ribbon Styles */


.ribbon {
  background: #ff9606;
  display: inline-block;
  font-size: 11px;
  font-style: italic;
  font-weight: bolder;
  line-height: normal;
  padding: 3px 0px 2px;
  position: relative;
  border-top-left-radius: 3px;
  color: #fff;
  margin-bottom: 5px;
  width: 55px;
  text-align: center;
}

.ribbon:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 6px 0 0;
  border-color: #ff9606 transparent transparent transparent;
  position: absolute;
  content: "";
  right: -6px;
  top: 0;
}

.ribbon:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 0 0 6px;
  border-color: transparent transparent transparent #ff9606;
  position: absolute;
  content: "";
  right: -6px;
  bottom: 0;
}

.old-list .old .old-image img{  
  width: 100%;
  display: block;
}

.old-list .old .old-info{
  background: rgba(238,238,238,.8);
  position: absolute;  
  left: 0;
  bottom: 0;
  width: 100%;

  text-align: center;
  padding: 10px;
}

.old-list .old:hover .old-info{
  background: rgba(238,238,238,.9);
}



.old-list .old .old-info .old-name a{
  overflow: hidden;  
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 18px;     /* fallback */
  max-height: 54px;      /* fallback */
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;

  text-decoration: none;
  font-weight: bold;
  color: #333;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.old-list .old:hover .old-info .old-name a{
  color: #ff9606;
  text-overflow: ellipsis;
}

.old-list .old .old-info .old-price .old-price{
  margin-right: 10px;
}
.old-list .old .old-info .old-price .new-price{
  font-size: 18px;
  font-weight: bold;
  color: #ff9606;
  text-shadow: 0 1px 3px rgba(255,255,255,1);
}

.old-list .old .old-info .add-basket a{
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  border: 1px solid #333333;
  padding: 6px 12px 7px;
  margin-bottom: 15px;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.old-list .old:hover .old-info .add-basket a{
  background: #ff9606;
  color: white;
  border: 1px solid #ff9606;
}

.imgTemp{
	width:220px !important;
	height:auto;
	
}