
@import url(https://fonts.googleapis.com/css?family=Lato:100);


.anview-logo {
  font-family: 'lato', sans-serif;
  width: 300px;
  height: 60px;
  left: 40%;
  top: 34%;
  margin-top: -30px;
  margin-left: -50px;
  position: absolute;
  animation: logo 5s ease;
}
  @keyframes logo {
    from {
      transform: translateY(200px) scale(1.7);
    }
    40% {
      transform: translateY(110px)  scale(1.3);
    }
    70% {
      transform: translateY(110px)  scale(1.3);
    }
  }
  
  .anview-logo span {
    position: absolute;
    font-size: 64px;
    color: #fff;
    line-height: 60px;
  }
  
  .anview-logo span:nth-child(1) {
    font-size: 32px;
    width: inherit;
    text-align: center;
    margin-top: -55px;
    color: rgba(255,255,255,.6);
    animation: weare 5s ease;
	margin-left: -132px;
  }
  
  @keyframes weare {
    from {
      opacity: 0;
      transform: translateY(-40px);
    }
    40% {
      opacity: 0;
    }
    70% {
      opacity: 0;
      transform: translateY(-40px);
    }
  }
  
  .anview-logo span:nth-child(2) {
    font-size: 28px;
    width: inherit;
    text-align: center;
    opacity: 0;
    margin-top: -55px;
    color: rgba(255,255,255,.6);
    animation: weprovide 5s ease;
	margin-left: -123px;
  }
  
  @keyframes weprovide {
    from {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    70% {
      opacity: 0;
    }
  }
  
  .anview-logo span:nth-child(3) {
    left: 56px;
    animation: a 5s ease;
    transform: translateX(0px);
  }
  
  @keyframes a {
    from {
      opacity: 0;
      transform: translateX(0px);
    }
    40% {
      opacity: 1;
    }
    70% {
      transform: translateX(0px);
    }
  }

 .anview-logo span:nth-child(6) {
    left: 143px;
    animation: view 5s ease;
    transform: translateX(0px);
  }
  @keyframes view {
    from {
      opacity: 0;
      transform: translateX(10px);
    }
    40% {
      opacity: 1;
    }
    70% {
      transform: translateX(10px);
    }
  }