<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  <mapper namespace="BoardMapper"> 가 @Mapper 와 함께 밑의 한줄로 대체 됨-->
<mapper namespace="com.mvc.forrest.dao.board.BoardDAO"> 	
 	
	<resultMap id="boardSelectMap" 			type="board">
		<result property="boardNo" 				column="boardNo" 				jdbcType="INTEGER"/>
		<result property="boardTitle"	   			column="boardTitle" 				jdbcType="VARCHAR" />
		<result property="boardDetail"	   		column="boardDetail"		 		jdbcType="VARCHAR" />
		<result property="boardDate"	   		column="boardDate" 				jdbcType="TIMESTAMP" />
		<result property="boardPin" 				column="boardPin" 				jdbcType="INTEGER"/>
		<result property="boardFlag"	   			column="boardFlag" 				jdbcType="VARCHAR" />
		<result property="category"	   			column="category" 				jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addBoard"		parameterType="board" >
		INSERT 
	 	INTO board(boardTitle, boardDetail, boardDate, boardFlag, category) 
	 	values (#{boardTitle}, #{boardDetail}, CURRENT_TIMESTAMP, #{boardFlag}, category)
	 </insert>

	<!-- SQL : SELECT LIST -->
	<select  id="getListBoard"  parameterType="map"	resultMap="boardSelectMap">
		SELECT b.* FROM board b 
		<where>
			<if test='"A".equals(board.boardFlag)'>
				b.boardFlag='A' 
				<if test="search.searchCondition != null">
					<if test="search.searchCondition=='title'.toString() and search.searchKeyword != null">
						AND b.boardTitle LIKE CONCAT('%',#{search.searchKeyword},'%') 
					</if>
					<if test="search.searchCondition=='detail'.toString() and search.searchKeyword != null">
						AND b.boardDetail LIKE CONCAT('%',#{search.searchKeyword},'%') 
					</if>
				</if>
			</if>
			<if test='"F".equals(board.boardFlag)'>
				b.boardFlag='F' 
			</if>
		</where>
			<if test='"A".equals(board.boardFlag)'>
				<if test="search.orderCondition==null">
					ORDER BY b.boardPin DESC, b.boardDate DESC LIMIT #{newStartRowNum}, #{search.pageSize}
				</if>
				<if test="search.orderCondition!=null">
					<if test="search.orderCondition=='ASC'.toString()">
						ORDER BY b.boardPin DESC, b.boardDate ASC LIMIT #{newStartRowNum}, #{search.pageSize}
					</if>
					<if test="search.orderCondition=='DESC'.toString()">
						ORDER BY b.boardPin DESC, b.boardDate DESC LIMIT #{newStartRowNum}, #{search.pageSize}
					</if>
				</if>
			</if>
			<if test='"F".equals(board.boardFlag)'>
				ORDER BY b.category, b.boardDate DESC LIMIT #{newStartRowNum}, #{search.pageSize}
			</if>
	 </select>
	 
	 <!-- SQL: UPDATE -->
	 <update 	id="updateBoard"		parameterType="board" >
		UPDATE board 
		<set>
			boardTitle = #{boardTitle}, boardDetail = #{boardDetail}, category = #{category} 
		</set>
		<where>
			boardNo = #{boardNo}
		</where>
	 </update>
	 
	 <!-- SQL : DELETE -->
	 <delete id="deleteBoard"	 parameterType="int">
		DELETE 
		FROM board 
		<where>
			boardNo =  #{value}
		</where>
	 </delete>
	 
	 <!-- SQL : SELECT ONE -->
	 <select  id="getBoard"  parameterType="int"	resultMap="boardSelectMap">
		SELECT * 
		FROM board 
		<where>
			boardNo = #{value}
		</where>
	 </select>
	 
	 <!-- SQL: UPDATE -->
	 <update 	id="updateFixBoard"		parameterType="board" >
		UPDATE board 
		<set>
			<if test="boardPin==0">
				boardPin = 1 
			</if>
			<if test="boardPin==1">
				boardPin = 0 
			</if>
		</set>
		<where>
			boardNo = #{boardNo}
		</where>
	 </update>
	 
	 <select  id="getTotalCount"  parameterType="map"	 resultType="int">
	  	SELECT COUNT(*) FROM(	SELECT * FROM board 
							<where>
							<if test='"A".equals(board.boardFlag)'>
				 				boardFlag='A' 
							</if>
							<if test='"F".equals(board.boardFlag)'>
				 				boardFlag='F' 
							</if>
							
							<if test="search.searchCondition != null">
								<if test="search.searchCondition == 'title' and search.searchKeyword !='' ">
					 				AND boardTitle LIKE CONCAT('%', #{search.searchKeyword}, '%') 
								</if>
								<if test="search.searchCondition == 'context' and search.searchKeyword !='' ">
					 				AND boardDetail LIKE CONCAT('%', #{search.searchKeyword}, '%') 
								</if>
							</if>
							</where>
						 ) countTable						
	 </select>

	 
</mapper>