<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mvc.forrest.dao.owncoupon.OwnCouponDAO">
 	
	<resultMap id="ownCouponSelectMap" type="ownCoupon">
		<result	property="ownCouponNo"			column="ownCouponNo"		jdbcType="INTEGER"/>
		<result property="ownUser.userId"		column="userId"				jdbcType="VARCHAR"/>
		<result property="ownCoupon.couponNo"	column="couponNo"			jdbcType="INTEGER"/>
		<result	property="ownCouponCreDate"		column="ownCouponCreDate"	jdbcType="TIMESTAMP"/>
		<result	property="ownCouponDelDate"		column="ownCouponDelDate"	jdbcType="TIMESTAMP"/>	
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addOwnCoupon"		parameterType="OwnCoupon" >
		INSERT
	 	INTO ownCoupon(userId, couponNo, ownCouponCreDate, ownCouponDelDate) 
	 	VALUES (#{ownUser.userId}, #{ownCoupon.couponNo}, #{ownCouponCreDate}, #{ownCouponDelDate})
	 </insert>	 
	 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getOwnCoupon"	parameterType="int"	resultMap="ownCouponSelectMap">
		SELECT *
		FROM ownCoupon
		WHERE owncouponNo = #{value}
	 </select>
	 	 
	 <!-- SQL : DELETE -->
	 <delete	id="deleteOwnCoupon"	parameterType="int" >
	   	DELETE
	   	FROM ownCoupon
	   	WHERE owncouponNo = #{value}
	 </delete>
		 
	<!-- SQL : SELECT LIST -->
	<select  id="getOwnCouponList"  parameterType="String"		resultMap="ownCouponSelectMap">
		SELECT c.couponName, oc.*
		FROM coupon c, ownCoupon oc
		WHERE oc.couponNo = c.couponNo
		AND oc.userId = #{ownUser.userId}
	 </select>
	
	<!-- SQL : SELECT ROW Count -->	 
	 <select  id="getTotalCount" parameterType="String" resultType="int">
	  	SELECT COUNT(*)				
	  	FROM ownCoupon
	  	WHERE userId = #{ownUser.userId}
	 </select>
	 
	
	
</mapper>