<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  <mapper namespace="ProductMapper"> 가 @Mapper 와 함께 밑의 한줄로 대체 됨-->
<mapper namespace="com.mvc.forrest.dao.wishlist.WishListDAO"> 	
 	
	<resultMap id="wishListSelectMap" type="wishList">
		<result property="wishListNo" 				column="wishListNo" 				jdbcType="INTEGER"/>
		<result property="prodNo"	   			column="prodNo" 				jdbcType="INTEGER" />
		<result property="userId" 			column="userId" 			jdbcType="VARCHAR" />
		<result property="period" 			column="period" 		jdbcType="INTEGER" />
	</resultMap>
	
	<!--INSERT 장바구니 추가 -->
	<insert 	id="addWishList"		parameterType="WishList" >
		INSERT 
	 	INTO wishlist(wishListNo, prodNo, userId,period) 
	 	values (#{wishListNo}, #{prodNo}, #{userId}, #{period})
	 </insert>
	 
	 <!--DELETE 장바구니 삭제 -->
	 <delete	id="deleteWishlist"	parameterType="int" >
	   	DELETE
	   	FROM wishlist
	   	WHERE wishNo = #{wishNo}
	 </delete>
	 
	 <!-- SELECT LIST 장바구니 리스트 -->
	 <select  id="getWishList"  parameterType="map"	resultMap="wishListSelectMap">
	  SELECT 
	  		*
	 	FROM wishList
	  				<where>
				 		userId = #{userId}
	 				</where>
	 				ORDER BY wishListNo
	 </select>

 	<select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM wishList
	 </select>

</mapper>